
.Body
{
    background-color: darkcyan;
}
.Image
{  
    position: fixed;
    top: 10%;
    left: 43%;
}
.RealImage
{
    size: 100%;
}
.Heading1
{
    font-family: sans-serif;
    color: hotpink ;
    position: fixed;
    top: 8%;
    left: 50%;
    /*bring your own prefixes */
    transform: translate(-50%, -50%);
}
.Text1
{
   font-family: sans-serif;
   color: hotpink;
   position: fixed;
   margin-bottom: 5%;
   top: 48%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.Buscar
{
    
    font-family: sans-serif;   
    color: floralwhite;
    font-weight: bold;
    background-color: firebrick;
    border-style: groove; 
    margin: 5%;
}
.Load
{
    font-family: sans-serif;
    color: floralwhite;
    font-weight: bold;
    background-color: firebrick;
    border-style: groove;
    margin: 5%;
}
